<div *ngIf="article">
    <h1>{{article.title}}</h1>

    <div *ngIf="isEdit">
        <form (ngSubmit)="onSave()">
            <label>Title: </label>
            <input type="text" class="form-control" id="title"
                required
                [(ngModel)]="article.title" name="title">

            <br>
            <br>

            <label>Body: </label>
            <br>

            <textarea name="body" style="width:75%" rows="25"
                [(ngModel)]="article.body">
            </textarea>
            
            <br>
            <br>

            <button type="submit">Save</button>
            <br>
            <button type="button" (click)="onEditCancel()">Cancel</button>
        </form>
    </div>

    <div *ngIf="!isEdit">
        <button type="button" (click)="startEdit()">Edit</button>
        <button type="button" (click)="onDelete()">Delete</button>
        <br>
        <br>

        <div style="white-space:pre">
            {{article.body}}
        </div>
    </div>
</div>

<div *ngIf="!article">
    No article
</div>

<br>
<br>

<a routerLink="/articles">Back</a>
