<h2>{{name}}</h2>

<div class="button-row">
  <button mat-raised-button (click)="onCreateClick()" [disabled]="isBusy">Create</button>
</div>

<div class="button-row">

  <button 
    mat-raised-button 
    (click)="onPlusClick()" 
    [disabled]="isBusy || !selection.length">
    Plus
  </button>
  
</div>

<div class="button-row">

  <button 
    mat-raised-button 
    (click)="onRenameClick()" 
    [disabled]="isBusy || !selection.length">
    Rename
  </button>

  <button 
    mat-raised-button 
    (click)="onDeleteClick()" 
    [disabled]="isBusy || !selection.length">
    Delete
  </button>
</div>

<mat-selection-list [(ngModel)]="selection" [multiple]="false">
    <mat-list-option *ngFor="let note of notes" [value]="note">

      <div class="note">
        <span>{{note.text}}</span>

        <span 
          *ngIf="!!note.pluses"
          class="note-pluses"
          >
          {{toPlusText(note.pluses)}}
        </span>
    </div>

    </mat-list-option>
</mat-selection-list>

<div class="button-row">
  <button mat-raised-button (click)="onBackClick()" [disabled]="isBusy">Back</button>
</div>